@media(max-width:1200px){
    .header__left-block{
        min-width: 465px;
    }
    .header__links{
        margin: 0 30px;
    }
    .header__links{
        font-size: 16px;
    }
    .tabcontainer{
        width: 900px;
    }
    .tabcontent__descr {
        width: 500px;
        height: 300px;
        font-size: 20px;
    }
}
@media(max-width: 992px){
    .header__right-block button{
        width: 150px;
        height: 42px;
        font-size: 16px;
    }
    .header__logo img{
        width: 85%;
    }
    .header__left-block {
    min-width: 420px;
    }
    .header__links a{
        margin: 0 20px;
        font-size: 16px !important;
        margin-left: 40px;
    }
    .header__links{
        margin-left: -40px;
    }
    .header{
        padding: 0 50px;
    }
    .tabcontainer{
        width: 720px;
    }
    .tabcontent__descr {
        top: 231px;
        right: -218px;
        width: 390px;
        height: 190px;
        font-size: 16px;
        line-height: 25px;
        padding: 25px;
}
}
@media (max-width: 768px){
    .header__links span{
        display: none;
    }
    .header__links a {
        font-size: 20px !important;
    }
    .header__left-block {
        min-width: 390px;
    }
    .call_comp{
        display: none;
    }
    .call_phone{
        display: block !important;
    }
    /* .header__right-block button{
        width: 122px;
        font-size: 13px;
    } */
    .header__right-block button{
        width: 80px;
        font-size: 14px;
    }
    .header{
        padding: 0 40px;
    }
    .tabcontainer{
        width: 540px;
    }
    .tabheader {
        padding: 20px;
    }
    .tabheader__items {
        margin-top: 10px;
        padding-left: 11px;
    }
    .tabheader__item{
        font-size: 13px;
    }
    .tabheader h3 {
    font-size: 14px;
    }
    .tabcontent__descr{
       top: 59px;
       right: 5px;
       width: 357px;
       height: 222px;
       opacity: 0.85;
    }
}
@media (max-width: 576px){
    .header__link{
        display: none;
    }
    .header{ 
        padding: 30px 25px;
        display: flex;
    }
    .header__left-block{
        min-width: 130px !important;
    }
    .header__right-block{
        width: 90px !important; 
    }
    .tabcontainer{
        width: 300px;
        }
    .tabheader{
        padding: 5px;
    }
    .tabheader h3 {
    font-size: 10px;
    }
    .tabheader__item{
        font-size: 8px;
    }
    .tabcontent__descr{
        top: 0px;
        right: -4px;
        width: 211px;
        font-size: 13px;
        line-height: 20px;
        height: 142px;
        padding: 11px;
    }
    .tabcontent__descr span{
        display: none;
    }
    .preview__life{
        margin-top: 5px;
        font-size: 14px;
    }
    .tabcontent_vegy{
        height: 136px;
    }
}